extends ../../layouts/admin_layout

block specific_stylesheets
    link(rel='stylesheet', href='/css/admin.css')

block content
    include ../../static/_admin_header
    #wrapper
        include ../../static/_sidebar
        #page-content-wrapper
            .alert-control(style='display: none;')
                .alert
                    a.close(href="#",data-dismiss="alert",aria-label="close") &times;
                    strong
            .row
                .col-xs-12
                    .box.box-primary
                        .box-header.with-border
                            h3.box-title Edit agenda
                        form(method="post",role='form', action="/control/admin/agenda/edit/#{agenda._id}")
                            .box-body
                                .row
                                    .col-xs-12.col-md-6
                                        .form-group
                                            label Date: #{agenda.date}
                                        //.form-group
                                        //    label Place
                                        //    input.form-control(placeholder="Write place",type="text",name="place",required=true, value=(agenda && agenda.place) ? agenda.place : '')
                                        //    if errors && errors.errors.place
                                        //        p.text-error= errors.errors.place
                                        .form-group
                                            label Label
                                            input.form-control(placeholder="Write place",type="text",name="label",required=true, value=(agenda && agenda.place) ? agenda.place : '')
                                            if errors && errors.errors.label
                                                p.text-error= errors.errors.label
                                        .form-group
                                            label Time (hh:mm - hh:mm)
                                            input.form-control(placeholder="Write time",type="text",name="time",required=true, value=(agenda && agenda.time) ? agenda.time : '')
                                            if errors && errors.errors.time
                                                p.text-error= errors.errors.time
                                        .form-group
                                            label Date small (Nov 24)
                                            input.form-control(placeholder="Write date small",type="text",name="date_sm",required=true, value=(agenda && agenda.date_sm) ? agenda.date_sm : '')
                                            if errors && errors.errors.date_sm
                                                p.text-error= errors.errors.date_sm
                                        .form-group
                                            label Description
                                            textarea.form-control(rows="5",placeholder="Write description...",type="text",name="description",required=true)=(agenda && agenda.description) ? agenda.description : ''
                                            if errors && errors.errors.description
                                                p.text-error= errors.errors.description
                                    .col-xs-12.col-md-6
                                        .form-group
                                            label Speakers
                                            input.form-control(placeholder="Write speaker name/position",type="text",name="speaker1",value=(agenda && agenda.speakers[0]) ? agenda.speakers[0] : '')
                                            input.form-control(placeholder="Write speaker name/position",type="text",name="speaker2",value=(agenda && agenda.speakers[1]) ? agenda.speakers[1] : '')
                                            input.form-control(placeholder="Write speaker name/position",type="text",name="speaker3",value=(agenda && agenda.speakers[2]) ? agenda.speakers[2] : '')
                                            input.form-control(placeholder="Write speaker name/position",type="text",name="speaker4",value=(agenda && agenda.speakers[3]) ? agenda.speakers[3] : '')
                                            input.form-control(placeholder="Write speaker name/position",type="text",name="speaker5",value=(agenda && agenda.speakers[4]) ? agenda.speakers[4] : '')
                                            input.form-control(placeholder="Write speaker name/position",type="text",name="speaker6",value=(agenda && agenda.speakers[5]) ? agenda.speakers[5] : '')
                                            input.form-control(placeholder="Write speaker name/position",type="text",name="speaker7",value=(agenda && agenda.speakers[6]) ? agenda.speakers[6] : '')
                                            input.form-control(placeholder="Write speaker name/position",type="text",name="speaker8",value=(agenda && agenda.speakers[7]) ? agenda.speakers[7] : '')
                                            input.form-control(placeholder="Write speaker name/position",type="text",name="speaker9",value=(agenda && agenda.speakers[8]) ? agenda.speakers[8] : '')
                                            input.form-control(placeholder="Write speaker name/position",type="text",name="speaker10",value=(agenda && agenda.speakers[9]) ? agenda.speakers[9] : '')
                                        .form-group
                                            label Color (FFFFFF)
                                            input.form-control(placeholder="Color code",type="text",name="color", value=(agenda && agenda.color) ? agenda.color : '')
                                            if errors && errors.errors.color
                                                p.text-error= errors.errors.color
                                        .form-group
                                            label Priority in view
                                            input.form-control(placeholder="Priority",type="number",name="priority", value=(agenda && agenda.priority) ? agenda.priority : '')
                                            if errors && errors.errors.priority
                                                p.text-error= errors.errors.priority
                            .box-footer.text-right
                                button.btn.btn3d.btn-default(type='reset', style="margin-right:15px;") Reset
                                button.btn.btn3d.btn-success(type='submit') Update
