div#agenda
    .container
        div
            h1.txt-shadow Agenda
                br
                |   2016
            hr
            .row
                section.cd-horizontal-timeline
                    .timeline
                        .events-wrapper
                            .events-clearfix
                            .events
                                ol
                                    li
                                        a.selectedAgenda(href='#0', data-date='24/11/2016')
                                            span(style="font-size: 20px;") 24
                                            br
                                            |   Nov
                                    li
                                        a.armAg(href='#0', data-date='26/11/2016')
                                            span(style="font-size: 20px;") 26
                                            br
                                            |   Nov
                                span.filling-line(aria-hidden='true')
                        ul.cd-timeline-navigation
                            li
                                a.prev.inactive(href='#0') Prev
                            li
                                a.next(href='#0') Next
                    .events-content
                        ol
                            li.selectedAgenda(data-date='24/11/2016')
                                h2 Tbilisi, Georgia
                                if _agenda24
                                    each item in _agenda24
                                        .row.agenda-control(
                                                style="background:#" + item.bgcolor,
                                                class=(item.color == item.bgcolor) ? "break-agenda" : "",
                                                data-toggle=(item.color == item.bgcolor) ? "collapse" : "",
                                                data-target=(item.color != item.bgcolor) ? "#"+item._id : ""
                                            )
                                            .bordered-left(style="border-left-color:#"+item.color)
                                            .col-xs-12.col-md-4.date-schedule
                                                span.cilabs-schedule-day.text-nowrap= item.time
                                                span.cilabs-schedule-time= item.date_sm
                                                span.mob.stage-btn.Night.Summit
                                            .col-xs-12.col-md-8
                                                .cilabs-schedule-title.clearfix= item.label
                                                if item.color != item.bgcolor
                                                    div.collapse(id=item._id)
                                                        .cilabs-schedule-descr.col-xs-12= item.description
                                                        if item.speakers && item.speakers.length
                                                            .row
                                                                .col-xs-12
                                                                    each sp in item.speakers
                                                                        if sp != ""
                                                                            span.cilabs-schedule-speaker-name= sp
                                if _workshop24
                                    if _workshop24.length != 0
                                        h2 Workshops
                                        br
                                        each item in _workshop24
                                            .row.agenda-control(
                                            style="background:#" + item.bgcolor,
                                            class=(item.color == item.bgcolor) ? "break-agenda" : "",
                                            data-toggle=(item.color == item.bgcolor) ? "collapse" : "",
                                            data-target=(item.color != item.bgcolor) ? "#" + item._id : ""
                                            )
                                                .bordered-left(style="border-left-color:#" + item.color)
                                                .col-xs-12.col-md-4.date-schedule
                                                    span.cilabs-schedule-day.text-nowrap= item.time
                                                    span.cilabs-schedule-time= item.date_sm
                                                    span.mob.stage-btn.Night.Summit
                                                .col-xs-12.col-md-8
                                                    .cilabs-schedule-title.clearfix= item.conducts
                                                    if item.color != item.bgcolor
                                                        div.collapse(id=item._id)
                                                            .cilabs-schedule-descr.col-xs-12= item.theme
                                            br
                                            .clearfix



                            li(data-date='26/11/2016')
                                h2 Yerevan, Armenia
                                if _agenda26
                                    each item in _agenda26
                                        .row.agenda-control(
                                            style="background:#" + item.bgcolor,
                                            class=(item.color == item.bgcolor) ? "break-agenda" : "",
                                            data-toggle=(item.color == item.bgcolor) ? "collapse" : "",
                                            data-target=(item.color != item.bgcolor) ? "#" + item._id : ""
                                        )
                                            .bordered-left(style="border-left-color:#" + item.color)
                                            .col-xs-12.col-md-4.date-schedule
                                                span.cilabs-schedule-day.text-nowrap= item.time
                                                span.cilabs-schedule-time= item.date_sm
                                                span.mob.stage-btn.Night.Summit
                                            .col-xs-12.col-md-8
                                                .cilabs-schedule-title.clearfix= item.label
                                                if item.color != item.bgcolor
                                                    div.collapse(id=item._id)
                                                        .cilabs-schedule-descr.col-xs-12= item.description
                                                        if item.speakers && item.speakers.length
                                                            .row
                                                                .col-xs-12
                                                                    each sp in item.speakers
                                                                        if sp != ""
                                                                            span.cilabs-schedule-speaker-name= sp
                                if _workshop26
                                    if _workshop26.length != 0
                                        h2 Workshops
                                        br
                                        each item in _workshop26
                                            .row.agenda-control(
                                            style="background:#" + item.bgcolor,
                                            class=(item.color == item.bgcolor) ? "break-agenda" : "",
                                            data-toggle=(item.color == item.bgcolor) ? "collapse" : "",
                                            data-target=(item.color != item.bgcolor) ? "#" + item._id : ""
                                            )
                                                .bordered-left(style="border-left-color:#" + item.color)
                                                .col-xs-12.col-md-4.date-schedule
                                                    span.cilabs-schedule-day.text-nowrap= item.time
                                                    span.cilabs-schedule-time= item.date_sm
                                                    span.mob.stage-btn.Night.Summit
                                                .col-xs-12.col-md-8
                                                    .cilabs-schedule-title.clearfix= item.conducts
                                                    if item.color != item.bgcolor
                                                        div.collapse(id=item._id)
                                                            .cilabs-schedule-descr.col-xs-12= item.theme
                                            br
                                            .clearfix

