div(style="background: #fff")#speakers
    .container
        if _speakersData.length
            div
                style.
                    .partners-gallery{
                        margin-bottom: 25px;
                    }
                    .partners-gallery > .item figure {
                        margin: 0;
                        padding: 0;
                        line-height: 0;
                        overflow: hidden;
                    }
                    .partners-gallery > .item figure img {
                        width: auto;
                        max-width: 100%;
                        height: auto;
                        max-height: 189px;
                        -moz-transition: all 0.3s;
                        -webkit-transition: all 0.3s;
                        transition: all 0.3s;

                        -webkit-border-radius: 4px; /*Safari, Chrome*/
                        -moz-border-radius: 4px; /*Firefox*/
                        border-radius: 4px;
                    }
                    .partners-gallery > .item figure img:hover {
                        -moz-transform: scale(1.03);
                        -webkit-transform: scale(1.03);
                        transform: scale(1.03);
                    }
                    .partners-gallery > .item figcaption {
                        padding: 2.35765%;
                        text-align: center;
                        min-height: 6.875rem;
                    }
                    .partners-gallery > .item figcaption .title {
                        padding-bottom: 3px;
                        color: #373737;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        -moz-box-orient: vertical;
                        box-orient: vertical;
                        overflow: hidden;
                        font-weight: 800;
                    }
                    .partners-gallery > .item figcaption .sub-title {
                        display: block;
                        font-size: 12px;
                        color: #5d5d5d;
                        line-height: 1.4;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .partners-gallery>.item figcaption .sub-text{
                        font-size: 14px;
                        font-style: italic;
                        font-weight: 600;
                        color: #909090;
                        line-height: 1.4;
                    }
                .row
                    h1.txt-shadow Speakers
                    hr
                    .clearfix
                .row
                    each item in _speakersData
                        .col-lg-3.col-md-4.col-xs-12.partners-gallery
                            .item
                                figure
                                    a.fancybox
                                        img(alt=item.name, src='/images/'+item.avatar)
                                figcaption
                                    h4.title= item.name
                                    span.sub-title
                                        strong= item.position
                                    span.sub-text
                                        strong= item.company
                                    span.sub-title
                                        strong= item.country