div(style="background: #fff")#speakers
    .container
        if _speakersData.length
            div
                .row
                    h1.txt-shadow Speakers
                    hr
                    .clearfix
                .row
                    each item in _speakersData
                        .col-lg-3.col-md-4.col-xs-12.partners-gallery
                            .item
                                figure
                                    a.fancybox
                                        img(alt=item.name, src='/images/'+item.avatar)
                                figcaption
                                    h4.title= item.name
                                    span.sub-title
                                        strong= item.position
                                    span.sub-text
                                        strong= item.company
                                    span.sub-title
                                        strong= item.country