extends ../../layouts/admin_layout

block specific_stylesheets
    link(rel='stylesheet', href='/css/admin.css')
    style.
        .custom-input-file {
            overflow: hidden;
            position: relative;
            width: 200px;
            height: 200px;
            background: #eee;
            background-image: url('/img/avatar_def.jpeg');
            background-repeat: no-repeat;

            background-size: 200px;
        }

        input[type="file"] {
            z-index: 9999;
            line-height: 0;
            font-size: 0;
            position: absolute;
            opacity: 0;
            filter: alpha(opacity=0);
            -ms-filter: "alpha(opacity=0)";
            margin: 0;
            padding: 0;
            left: 0;
        }

        .uploadPhoto {
            position: absolute;
            top: 25%;
            left: 25%;
            display: none;
            width: 50%;
            height: 50%;
            color: #fff;
            text-align: center;
            line-height: 100px;
            text-transform: uppercase;
            background-color: rgba(0, 0, 0, .3);
            border-radius: 50px;
            cursor: pointer;
        }

        .custom-input-file:hover .uploadPhoto {
            display: block;
        }

        .role-pr-status span {
            background: #232C35;
            padding: 3px 10px;
            border-radius: 5px;
            font-size: 12px;
            color: #fff;
        }



block content
    include ../../static/_admin_header
    #wrapper
        include ../../static/_sidebar
        #page-content-wrapper
            .alert-control(style='display: none;')
                .alert
                    a.close(href="#",data-dismiss="alert",aria-label="close") &times;
                    strong
            .row
                .col-xs-12
                    .box.box-primary
                        .box-header.with-border
                            h3.box-title Update speaker
                        form(method="post",role='form', enctype="multipart/form-data", action="/control/admin/speaker/edit/#{speaker._id}")
                            .box-body
                                .row
                                    .col-xs-12
                                        .form-group
                                            label(style='margin-top: 25px') Tab country (armenia or georgia)
                                            select.form-control(name="tab_country")
                                                option(value="armenia", selected=(speaker.tab_country == "armenia") ? true : false) Armenia
                                                option(value="georgia", selected=(speaker.tab_country == "georgia") ? true : false) Georgia
                                        .form-group
                                            label(style='margin-top: 25px') Name
                                            input.form-control(placeholder="Write name...",type="text",name="name",required=true, value=(speaker && speaker.name) ? speaker.name : '')
                                            if errors && errors.errors.name
                                                p.text-error= errors.errors.name
                                        .form-group
                                            label(style='margin-top: 25px') Position
                                            input.form-control(placeholder="Write position...",type="text",name="position",required=true, value=(speaker && speaker.position) ? speaker.position : '')
                                            if errors && errors.errors.position
                                                p.text-error= errors.errors.position
                                        .form-group
                                            label(style='margin-top: 25px') Company
                                            input.form-control(placeholder="Write company...",type="text",name="company",required=true, value=(speaker && speaker.company) ? speaker.company : '')
                                            if errors && errors.errors.company
                                                p.text-error= errors.errors.company
                                        .form-group
                                            label(style='margin-top: 25px') Country
                                            input.form-control(placeholder="Write country...",type="text",name="country",required=true, value=(speaker && speaker.country) ? speaker.country : '')
                                            if errors && errors.errors.country
                                                p.text-error= errors.errors.country
                                        .form-group
                                            label(style='margin-top: 25px') Priority
                                            input.form-control(placeholder="Priority",type="number",name="priority", value=(speaker && speaker.priority) ? speaker.priority : '')
                                            if errors && errors.errors.priority
                                                p.text-error= errors.errors.priority

                                .row
                                    .col-xs-12
                                        .form-group.required
                                            label(for='inputFile') Image input
                                            .input-group
                                                span.input-group-btn
                                                    span.btn.btn-default.btn-file
                                                        | Browse&mldr;
                                                        input#inputFile(name="avatar",type='file')
                                                input.form-control(type='text', readonly='')
                                            if errors && errors.image
                                                p.text-error= errors.image
                                            p.help-block Select speaker image in (400 x 400) px size.
                                            img#img-upload(style="height: 100px;", src="/images/#{speaker.avatar}")
                            .box-footer.text-right
                                button.btn.btn3d.btn-default(type='reset', style="margin-right:15px;") Reset
                                button.btn.btn3d.btn-success(type='submit') Update
        script.
            $(document).on('change', '.btn-file :file', function () {
                var input = $(this),
                        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [label]);
            });

            $('.btn-file :file').on('fileselect', function (event, label) {

                var input = $(this).parents('.input-group').find(':text'),
                        log = label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }

            });
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img-upload').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#inputFile").change(function () {
                readURL(this);
            });
